.language-selector {
    position: relative;
    display: inline-block;
}

.language-button {
    border: none;
    border-top: 2px solid var(--main-color-shade);
    background: var(--main-color-hilight);
    color: var(--gray-dark);
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    padding: 8px 12px;
    width: 100px;
}

.language-options {
    position: absolute;
    top: 100%;
    right: 0;

    display: none;
    width: 100px;

    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.language-selector.open .language-options {
    display: flex;
    flex-direction: column;
}

.language-options button {
    border: none;
    background: none;
    text-align: left;
    padding: 8px 12px;
    cursor: pointer;
}

.language-options button:hover {
    background: #f2f2f2;
}